[req]
req_extension = v3_req
[v3_req]
basicContraints = CA:FALSE
keyUsage = nonRepudiation
subjectAltNames = @alt_namesa
[alt_names]
DNS.1 = kubernetes
DNS.2 = kubernetes.default
DNS.3 = kubernetes.default.svc
DNS.4 =kubernetes.default.svc.cluster.local
